.footer {
  background-color: #252525;
}

.footer__inner {
  display: flex;

  padding-top: 100px;
  padding-left: 150px;
}

.link {
  text-decoration: none;
  line-height: 0.2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
}

.footer-logo {
  margin-bottom: 30px;
}

.site {
  display: flex;
}

.footer-nav {
  margin-left: 50px;
}

.footer-nav ul li {
  list-style-type: none;

  a {
    text-decoration: none;
    @include reset-list;
  }
}

.footer-heading {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.icon {
  margin-right: -35px;
}
