.h3-heading {
  width: 750px;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 41px;
  text-align: center;
  color: #150c01;
  margin-left: 180px;
}

.input {
  display: flex;
  margin-top: 50px;
}

.form {
  margin-top: 150px;
  padding-top: 100px;
}

.form-input {
  width: 620px;
  height: 70px;
  margin-left: 220px;
  border: 1px solid white;
  border-radius: 10px;
}

.send {
  cursor: pointer;
  width: 130px;
  height: 70px;
  border: 1px solid #dc780b;
  background: #dc780b;
  border-radius: 10px;
  color: white;
  margin-left: -50px;
}
