.section-title {
  margin-top: 200px;
}

.heading-h3 {
  margin-left: 320px;
}

.bg-img {
  margin-left: 500px;
}

.section-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.style {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 506px;
  color: #000000;
  margin-top: 30px;
}

.left {
  margin-right: 150px;
  opacity: 0.4;
}

.right {
  margin-left: 150px;
}

.star {
  margin-left: 540px;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 50px;
}

.heading-h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 8px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.7;
  text-align: center;
}
